$color1: rgb(29, 29, 29);
$color2: rgb(214, 214, 214);
$color3: rgb(22, 22, 22);
$color4: #141414;
$color5: #e50914;
$color6: #595959;
$color7: #222222;
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");
.VideoList {
  transform: translateY(-50vw);
  width: 100vw;
  color: white;
  height: 20vw;

  h1 {
    font-size: 2.4vw;
    font-weight: 700;
    margin-left: 3rem;
    margin-top: 3vw;
    margin-bottom: -2rem;
  }

  .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 5vw;
    padding-bottom: 5vw;

    .trailer-mini {
      box-shadow: 1rem 1rem 1rem black;
      width: 24vw;
      height: 18vw;
      background-color: #111111;
      z-index: 111;
      margin-right: -24vw;
      transition: height ease 1s;
      pointer-events: none;
      .react-player {
        height: 40rem;
        margin-top: -5rem;

        pointer-events: none;
        object-fit: cover;
      }
      .react-player > video {
        object-fit: cover;
      }
      img {
        z-index: 105;
        margin-top: -22vw;
        object-fit: cover;
        height: 50%;
        border-radius: 0.5rem;
      }
      .info {
        background-color: #111111;
        box-shadow: 0 -0.5rem 1rem #111111;
        padding: 1rem;

        transform: translateY(2.8rem);
        padding-top: 0.3rem;
        margin-top: -5rem;
        color: #d4d4d4;
        h1 {
          font-size: 1.2rem;
          color: #d4d4d4;
          margin-left: 0;
          transform: translate(0, 0);
        }
        h2 {
          font-size: 1rem;
          color: rgb(167, 167, 167);
        }
      }
    }
    .elem {
      height: 14vw;
      font-size: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20vw;
      margin-left: 3vw;
      margin-bottom: 5vw;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      z-index: 6;
      color: red;
      -webkit-text-fill-color: black;
      -webkit-text-stroke-color: $color6;
      -webkit-text-stroke-width: 5px;
      font-family: "Titillium Web", sans-serif;
      transition: all ease 1s;
      margin-bottom: -5vw;
      cursor: pointer;
      img {
        margin-left: -2vw;
        height: 13vw;
        min-width: 22vw;
        width: 22vw;
        object-fit: cover;
        pointer-events: none;
        border-radius: 0.5rem;
      }
    }
  }
  .list .elem:nth-of-type(1):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-10 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(2):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-9 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(3):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-8 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(4):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-7 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(5):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-6 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(6):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-5 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(7):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-4 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(8):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-3 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(9):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-2 * 23vw)) translateY(5vw);
  }
  .list .elem:nth-of-type(10):hover ~ .trailer-mini {
    height: 18vw;
    min-width: 26vw;
    width: 26vw;
    margin-left: -1vw;
    transform: translateX(calc(-1 * 23vw)) translateY(5vw);
  }
}

@media screen and (min-width: 1200px) {
  .VideoList {
    transform: translateY(-50vw);
    width: 100vw;
    color: white;
    height: 20rem;
    margin-bottom: 2rem;
    h1 {
      font-size: 1.8rem;
      font-weight: 700;
      margin-left: 3rem;
      transform: translateY(1rem);
      margin-bottom: -3rem;
    }

    .list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
      padding-left: 2rem;

      .trailer-mini {
        box-shadow: 1rem 1rem 1rem black;
        width: 24rem;
        height: 18rem;
        background-color: #111111;
        z-index: 200;
        margin-right: -24rem;
        transition: height ease 1s;
        pointer-events: none;
        .react-player {
          height: 40rem;
          margin-top: -5rem;

          pointer-events: none;
          object-fit: cover;
        }
        .react-player > video {
          object-fit: cover;
        }
        img {
          z-index: 105;
          margin-top: -22vw;
          object-fit: cover;
          height: 50%;
          border-radius: 0.5rem;
        }
        .info {
          background-color: #111111;
          box-shadow: 0 -0.5rem 1rem #111111;
          padding: 1rem;

          transform: translateY(2.8rem);
          padding-top: 0.3rem;
          margin-top: -5rem;
          color: #d4d4d4;
          h1 {
            font-size: 1.2rem;
            color: #d4d4d4;
            margin-left: 0;
            transform: translate(0, 0);
          }
          h2 {
            font-size: 1rem;
            color: rgb(167, 167, 167);
            margin-top: 2rem;
          }
        }
      }
      .elem {
        height: 14vw;
        font-size: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        margin-left: 3rem;
        margin-bottom: 5rem;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        z-index: 6;
        color: red;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-color: $color6;
        -webkit-text-stroke-width: 5px;
        font-family: "Titillium Web", sans-serif;
        transition: all ease 1s;
        margin-bottom: -5rem;
        cursor: pointer;
        img {
          margin-left: -2rem;
          height: 13rem;
          min-width: 22rem;
          width: 22rem;
          object-fit: cover;
          pointer-events: none;

          border-radius: 0.5rem;
        }
      }
    }
    .list .elem:nth-of-type(1):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-10 * 23rem)) translateY(5rem);
    }
    .list .elem:nth-of-type(2):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-9 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(3):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-8 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(4):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-7 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(5):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-6 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(6):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-5 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(7):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-4 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(8):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-3 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(9):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-2 * 23rem)) translateY(5vw);
    }
    .list .elem:nth-of-type(10):hover ~ .trailer-mini {
      height: 18rem;
      min-width: 26rem;
      width: 26rem;
      margin-left: -1rem;
      transform: translateX(calc(-1 * 23rem)) translateY(5vw);
    }
  }
}
