$color1: rgb(29, 29, 29);
$color2: rgb(214, 214, 214);
$color3: rgb(22, 22, 22);
$color4: #141414;
$color5: #e50914;
$color6: #595959;
$color7: #222222;
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");
.TopList {
  transform: translateY(-50vw);
  width: 100vw;

  .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    overflow-x: scroll;
    padding-left: 3vw;
    .elem {
      font-size: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40vw;
      padding-left: 4vw;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      z-index: 6;
      color: red;
      -webkit-text-fill-color: black;
      -webkit-text-stroke-color: $color6;
      -webkit-text-stroke-width: 5px;
      font-family: "Titillium Web", sans-serif;
      transition: all ease 1s;
      img {
        height: 16vw;
        width: 12vw;
        object-fit: cover;
      }
    }
    .elem:hover {
      transform: scale(120%);
      cursor: pointer;
      img {
      }
    }
  }
}
